body{
	margin: 0px;
}

header{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: gold;
}

header>div{
	margin: 1.5em;
	margin-bottom: 1em;
	margin-top: 1em;
}

header i{
	font-size: 5em;
}

.secciones{
	display: flex;
	flex-wrap: wrap;
}

.secciones a{
	margin: 0.8em;
	font-family: 'Dancing Script', cursive;
	text-decoration: none;
	font-size: 2em;
	color: black;
}

header>form{
	display: flex;
	flex-direction: column;
	font-family: 'Dancing Script', cursive;
}

form div{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1px;
}

.contenido{
	width: 100%;
}
#imgs{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;	
}
figure.fotoC{
	width: 16.666%;
	min-width: 300px;
	height: 30em;
	display: flex;
	flex-direction: column;
	margin: 0px;
}
.fotoC>img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.fotoC .texto{
	background-color: gold;
	width: 100%;
	text-align: center;
	font-size: 2em;
	font-family: 'Dancing Script', cursive;
}

#tabla{
	margin: auto;
	margin-top: 2em;
	height: auto;
	width: 53.4%;
	min-width: 600px;
	overflow: auto;
}

table{	
	border-collapse: collapse;
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
	width: 100%;
}

table th{
	min-width: 250px;
	max-width: 450px;
	border: 2px solid black;
	font-size: 2em;
	color: white;
	background-color: black;
	font-family: 'Dancing Script', cursive;
}
table tr:nth-child(2n){
	background-color: gold;
}
table td{
	min-width: 250px;
	max-width: 450px;
	border: 2px solid black;
	text-align: center;
}
table td.foto{
	padding: 0px;
	height: 14em;
}

td.foto img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

td.nombre{
	font-family: 'Dancing Script', sans-serif;
	font-size: 2em;
}

.texto{
	font-family: 'Roboto', sans-serif;	
}

#texto{
	margin-top: 2em;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	text-align: justify;
	padding: 1em;
}

#texto h2{
	font-family: 'Dancing Script', sans-serif;
	font-size: 2em;
	text-decoration: underline;
}

#texto figure{
	float: right;
	width: 300px;
	padding: 1rem;
	background-color: #f2f2f2;
	border: 1px grey solid;
}

figure img{
	width: 100%;
	border: 1px grey solid;
}